<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">About Alpha Blog App!</h1>
      <br>
      <strong>This web application is the first one built while doing “The Complete Ruby on Rails Developer Course” on Udemy. The goal with this app is to learn some of the next topics writing almost everything from scratch:</strong>
      <br>
      <ul>
        <li>Build a front-end layout</li>
        <li>Build an authentication system where users can sign up to use the application</li>
        <li>Implement messaging functionality</li>
        <li>Build an admin user functionality where the admin user has a different level of access than regular users</li>
        <li>Browse blog posts that are in the application written by other users or yourself</li>
        <li>Look at other users which are using the application</li>
        <li>Implement pagination</li>
        <li>Look at posts based on categories</li>
        <li>Etc.</li>
      </ul>
      <h5>General Information</h5>
      <ul>
        <li>Ruby version = 2.7.5</li>
        <li>Rails version = 6.1.4.4</li>
        <li>Bootstrap version = 4.6.1</li>
        <li>Status: Completed</li>
      </ul>
    </div>
  </div>
</div>
