<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-3"><strong>ALPHA BLOG</strong></h1>
    <hr class="my-3">
    <h6 class="text-left mb-1">Write what you want and find people who enjoys the same topics as you...</h6>
    <h6 class="text-center mb-1">Share those experiences that give you important lessons...</h6>
    <h6 class="text-right mb-4">And maybe even inspire like other well-known personalities...</h6>
    <p class="lead">...but mainly Have Fun in <strong>Alpha Blog!</strong></p>
    <%= link_to 'Sign up!', signup_path, class: "btn btn-success btn-lg" %>
  </div> 
</div>
